* { margin:0; padding:0; box-sizing:border-box; }
header {
  background-color: white;
  width: 100%;
  padding: 0px;
}

nav {
  font-family: "Arial", Arial, sans-serif;
  text-decoration: none;
  background-color: white;
  color: gray;
  width: 70%;
  padding: 0px;
}

section {
  background-color: white;
  padding: 0px;
}

img, img.scale-with-grid { outline: 0; max-width: 100%; height: auto; }

h1 {
      font-family: "Arial", Arial, sans-serif;
      font-size: 2em;
      color: white;
      margin:auto;
      width: 100%;
      font-variant: small-caps;
      text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
a {text-decoration: none; }

h2 {
  font-family: "Arial", Arial, sans-serif;
      font-size: 2em;
      color: gray;
}

h3 {
    font-family: "Arial", Arial, sans-serif;
      font-size: 1em;
      color: #b900b9;
}

.image {
  position: relative;
  width: 100px;

}
#intro {
  font-size: 2em;
  width: 100%;
  background: url(../images/cover.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  text-align: center;
  padding-top: 6em;
}

#blog {
  width: 100%;
}

#testimonials_two_column {
  background-color: white;
  padding: 20px;
}

#left {
  background-color: white;
  padding: 20px;
  float: left;
  width: 50%;
      font-family: "Arial", Arial, sans-serif;
      font-size: 1em;
      color: #b900b9;

}

#right {
  background-color: white;
  padding: 20px;
  float: right;
  width: 50%;
      font-family: "Arial", Arial, sans-serif;
      font-size: 1em;
      color: #b900b9;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " "
  clear: both;
  height: 0;
}

.cta {
    background-color: #b900b9;
    border: none;
    color: white;
    padding: 1em 2em;
    text-decoration: none;
    font-variant: small-caps;
    margin: 1em 0 0;
    border-radius: .25em;
    display: inline-block;
    box-shadow: 1px 1px 3px rgba(0,0,0,.25);
}

a.cta {}
.main-body button { margin: 0 auto; }


  
footer {
  font-family: "Arial", Arial, sans-serif;
  color: white;
  background-color: gray;
  width: 100%;
  padding: 20px;
}

.hero {
  background-image: url('../images/cover.jpg');
  width: 100%;
  height: 100%;
  padding: 0px;
  text-align: center;
}
